<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <table border="1" id="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(function(usuario){ %>
        <tr>
          <td><%= usuario._id %></td>
          <td><%= usuario.nombre %></td>
          <td><%= usuario.edad %></td>
          <td><%= usuario.email %></td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </body>
</html>

<!---->